.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    z-index: 100;
  
  }
  .modal{
    width: clamp(50%, 30rem, 90%);
    height: 80vh;
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f0f8ff;
    overflow: auto;
  }

  
  .avatar_mondal_container{
      display: flex;
      margin-top: 2rem;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      border-bottom:.1rem solid #0d1d50;
      padding-bottom: 2rem;
    }
    .img_modal{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .owner_modal{
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    .title_modal {
        
        width: 100%;
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
    }
    .description{
        margin-top: 1rem;
        text-align: left;
        width: 100%;
        height:7rem;
       line-height: 1.5rem;
        overflow-y:auto;
    }
    .buttons__modal{
      display: flex;
      width: 100%;
      height: 5rem;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;
      gap: 2rem;
     
    }
    .close_icon_modal{
      fill: #0077b6;
      margin: -25%;
    }
    .buttons__modal>*{
      display: block;
    }
    .btnmodal{
        border-radius: 100%;
     border: none;
     padding: 0.5rem;
      background-color: #ffffff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: 300ms;
     height: 2.5rem;
     width: 2.5rem;
     }
    .btnmodal:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }